<header>
      <div>
          <nav class="top-bar full-width" data-topbar>
            <div class='small-12 medium-12 large-12'>
              <section class="top-bar-section">
                  <div class='small-8 medium-6 large-6 columns'>
                    <ul class="left">
                      <li class="vertical-center-align logo title">
                        <!-- logo -->
                      </li>
                    </ul>

                  </div>

                  <div class='small-4 medium-6 large-6 columns'>

                      <!-- Right Nav Section -->
                      <ul class="right">

                        <% if signed_in? %>                       

                            <li class='show-for-small-only signout'><%= link_to "Sign out", signout_path(current_user) %></li>

                        <% else %>
                            <div class='small-12'>
                                <li><%= link_to "Sign in", signin_path %></li>
                            </div>
                        <% end %>
                      </ul>

                  </div>
              </section>
            </div>
          </nav>
        </div>

</header>