<div ng-controller="inventoryController">		

	<div class="small-12 row">

		<div class="text-center" ng-hide="inventoryListLoaded">
			<img class="text-center" src="img/load.gif"></img>
			<br/>
		</div>
		
		<div class = "text-center">
			<small class="error" ng-show="errorSaveList">Failed to save inventory list</small>
		</div>

		<div date-alert class="alert-box success text-center" ng-show="InventoryListSaved == true">Inventory list was saved!</div>
	
		<div ng-show="inventoryListLoaded">
			<table class="max-width-table">
				<thead>
					<tr>
						<th>Description</th>
						<th>Quantity</th>
						<th>Reminder</th>
						<th>Notes</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
						<p ng-hide="inventoryListLoaded">Loading List....</p>
						<tr class="table-row highlightable" ng-repeat="item in elements">
							<td ng-click="editItem(item)">{{ item.description }}</td> 
							<td ng-click="editItem(item)">{{ item.qty }}</td> 
							<td ng-click="editItem(item)">{{ item.reminderDate }}</td> <!-- | date:'shortDate'-->
							<td ng-click="editItem(item)">{{ item.notes }}</td>
							<!-- <td><input id="checkbox1" type="checkbox" ng-model='item.checked' ng-click="sendItemToShoppingList(item)"></td> -->
							<td data-reveal-id="passToShoppingListModal" ng-click="sendItemToShoppingListPrepare(item)" data-reveal><h4 class="fi-check"></h4></td>
						</tr>
						<tr ng-show="newItemMode == 'new'">
							<td>{{ newItem.description }}</td> 
							<td>{{ newItem.qty }}</td> 
							<td>{{ newItem.reminderDate }}</td>
							<td>{{ newItem.notes }}</td> 
							<td></td>
						</tr>
				</tbody>
			</table>

			<a class="small-12 button expand" ng-click="saveRemoteInventoryList()" ng-disabled="disableSaveList == true">Save List</a>

			<div class="text-center">
				<img class="text-center" src="img/load.gif" ng-show="inventoryListSaving"></img><br/>
			</div>
			
			<h3 class="text-center">{{ itemTitle }}</h3>

			
			<form name="newElement" ng-submit="addItem(newItem)" novalidate>
				<label class="small-12 columns">Description
					<input type="text" name="description" placeholder="e.g. Banana, Shampoo" ng-model="newItem.description" />
				</label>
				<label class="small-6 columns">Quantity
					<input type="number" placeholder="e.g. 42, Default: 1" ng-model="newItem.qty" />
				</label>
				<label class="small-6 columns">Reminder Date
					<input type="text" placeholder="e.g. 1/1/1970" ng-model="newItem.reminderDate" class="date_picker" />
				</label>
			
				<label class="small-12 columns">Notes
					<textarea rows="4" cols="50" ng-model="newItem.notes"></textarea>
				</label>

				<input type="submit" class="small-6 button expand" ng-disabled="newItem.description.length == nil || newItem.description.length == 0 || (newElement.description.$dirty == 0 && newItemMode == 'new')" value="Submit Item"/>

			</form>
		</div>
	
	</div>
	

	<div id="passToShoppingListModal" class="reveal-modal" data-reveal style="opacity: 1; visibility: hidden; display: none;">
	  <h2></h2>
	  <p class="lead">Move to shopping list?</p>
	  <!--<p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>-->
	  <a href="#" class="button" ng-click="sendItemToShoppingListDo('yes')">Yes</a>
	  <a href="#" class="button" ng-click="sendItemToShoppingListDo('no')">No</a>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
	
	

</div>

<script>
	$(document).foundation();
</script>
