<!-- login page -->

<div id="login" ng-controller="loginController">
	
	<h3 class='brown text-center'><strong>Sign IN</strong></h3>
	
	<div class = "text-center">
		<small class="error" ng-show="signin_general_error">Login user failed. Are you connected to the internet?</small>
		<small class="error" ng-show="signin_username_password_error == true">Username/Password combination is incorrect</small>
		<small class="error" ng-show="signin_user_is_not_authenticated == true">Invalid sign in - have you confirmed your mail?</small>
		<small class="error" ng-show="signin_errors != ''">{{ signin_errors }}</small>
	</div>
	<div class="large-6 medium-6 small-12 row">
		<form name="user_signin" class="small-12 columns" ng-submit="login_user(user); user_pressed_submit = true;" novalidate>
		  <div class='horizontal-center text-center'>
				<input type="email" name="user_email" placeholder="Email" ng-model="user.email" ng-required="true"/>
				<input type="password" name="user_password" placeholder="Password" ng-model="user.password" ng-required="true"/>

				<input type="submit" class="small-6 button expand" ng-disabled="user_signin.user_password.$dirty == 0 || 
					user_signin.$error.email || user_pressed_submit"
									value="Sign IN!"/>							
				
			</div>
		</form>
	</div>
	<div class="text-center">
		<img src="img/load.gif" ng-show="show_loading"></img><br/>
		<a ui-sref="signup">Not registered YET?</a>
	</div>

</div>