<div ng-controller="tabController">
		
	<div class="icon-bar two-up">
	  <a class="item" href="#panel1" ng-click="setTab(1)">
		 <i class="fi-check"></i>
		 <label>Shopping list</label>
	  </a>

	  <a class="item active" href="#panel2" ng-click="setTab(2)">
		<i class="fi-folder"></i>
		<label>Inventory</label>
	  </a>
	</div>
	
	<div class="tabs-content">
	  <div class="content" ng-class="{active:isSelectedTab(1)}" id="panel1">
		<div ng-include="'shopping.htm'"></div>			
	  </div>
	  <div class="content" ng-class="{active:isSelectedTab(2)}" id="panel2">
		<div ng-include="'inventory.htm'"></div>			
	  </div>
	</div>
	
	<div class="text-center small-6 row">
		<a ui-sref="start" class="button expand" ng-click="logout();">Sign out</a>
	</div>


		
</div>