<div ng-controller="shoppingListController">		
	
	<div class="small-12 row">
	
		<div class="text-center">
			<div ng-hide="shoppingListLoaded">
				<img class="text-center" src="img/load.gif" ng-hide="shoppingListLoaded"></img><br/>
			</div>
			
			<div ng-show="shoppingListIsLoading">
				<img class="text-center" src="img/load.gif"></img><br/><br/>
			</div>
			
			<div date-alert class="alert-box success" ng-show="shoppingListSaved == true">Shopping list was saved!</div>
			<small class="error" ng-show="shoppingListSavedError == true">Error when trying to save shopping list - are you connected to the internet?</small>
		</div>

		<div ng-show="shoppingListLoaded">
			<table class="max-width-table">
				<thead>
					<tr>
						<th>Description</th>
						<th>Quantity</th>
						<th>Price</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
						<tr ng-repeat="item in elements">
							<td>{{ item.description }}</td> 
							<td>{{ item.qty }}</td> 
							<td>{{ item.price }}</td>
							<td ng-click="removeItem(item)"><h4 class="fi-trash"></h4></td>
							<td ng-model='item.checked' ng-click="sendItemPrepare(item)" data-reveal-id="passToInventoryListModal" data-reveal><h4 class="fi-check"></h4></td>
						</tr>
						<tr>
							<td>{{ newItem.description }}</td> 
							<td>{{ newItem.qty }}</td> 
							<td>{{ newItem.price }}</td>
							<td></td>
							<td></td>
						</tr>
				</tbody>
			</table>
		
			<a class="small-12 button expand" ng-click="saveRemoteShoppingList()">Save List</a>
			
			<h3 class="text-center">New Item</h3>

			<form name="newElement" ng-submit="addItem(newItem)" novalidate>
				<label class="small-12 columns">Description
					<input type="text" name="description" placeholder="e.g. Banana, Shampoo" ng-model="newItem.description" />
				</label>
				<label class="small-6 columns">Quantity
					<input type="number" placeholder="e.g. 42, Default: 1" ng-model="newItem.qty" />
				</label>
				<label class="small-6 columns">Price
					<input type="text" placeholder="e.g. 1.99" ng-model="newItem.price" />
				</label>

				<input type="submit" class="small-6 button expand" ng-disabled="newItem.description.length == nil || newItem.description.length == 0 || newElement.description.$dirty == 0" value="Submit Item"/>
				
			</form>
		</div>
	</div>
	
	<div id="passToInventoryListModal" class="reveal-modal" data-reveal style="opacity: 1; visibility: hidden; display: none;">
	  <h2></h2>
	  <p class="lead">Item moved to inventory list! Hooray!</p>
	  <a href="#" class="button" ng-click="closeMoveToInventoryListReveal()">OK</a>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

	
</div>

<script>
	$(document).foundation();
</script>
