<!-- signup page -->

<div id="signup" ng-controller="signupController">
	
	<h3 class='brown text-center'>Sign up</h3>
		<div class="large-6 medium-6 small-12 row">
			<form name="user_signup" class="small-12 columns" ng-submit="signup_user(user);" novalidate>
			  <div class='horizontal-center text-center'>
					<input type="text" name="user_name" placeholder="Name" ng-model="user.name" ng-required="true"/>
					<input type="email" name="user_email" placeholder="Email" ng-model="user.email" ng-required="true"/>
					<input type="password" name="user_password" placeholder="Password (6 characters minimum)" ng-model="user.password" ng-minlength="6" ng-required="true"/>
					<input type="password" name="user_password_conf" placeholder="Repeat password" ng-model="user.password_confirmation",
                       ng-class = "{confirm_pass_invalid: user_signup.user_password_conf.$dirty == true && user.password_confirmation != user.password,
                                       confirm_pass_valid: user_signup.user_password_conf.$dirty && user.password_confirmation == user.password}",
									   ng-minlength="6" ng-required="true"/>

					<input type="submit" class="small-6 button expand" ng-disabled="user.name.length == nil || user.name.length == 0 || user_signup.user_password.$dirty == 0 || 
						user_signup.user_password_conf.$dirty == 0 || user.password.length < 6 || user.password_confirmation != user.password || user_signup.$error.email"
										value="Sign UP!"/>							
					
				</div>
			</form>
		</div>
		<div class="text-center">
			<img src="img/load.gif" ng-show="show_loading"></img><br/>
			<a ui-sref="signin">Already registered?</a>
		</div>

</div>