.table-row.highlightable:hover {
	background-color:gray;
	cursor: pointer;
}

.horizontal-center {
    margin-right: auto;
    margin-left: auto;
}

.ng-invalid-email.ng-dirty {
	border-color: red !important;
}

.ng-dirty.ng-invalid-minlength {
	border-color: red !important;
}

.confirm_pass_invalid {
    border-color: red!important;
}

.confirm_pass_valid {
    border-color: green!important;
}

.max-width-table {
	width: 100%;
}